footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    a {
        font-size: 1em;
        color: darkgrey;
        background-color: white;
        text-decoration: none;
        margin-left: 1em;
        font-weight: 500;
        &:hover{
            color: burlywood;
        }
    }
}
.footerDark {

    a {
        color: black;
        &:hover {
        cursor: pointer;
        }
    }
}