footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 5%;
    a {
        font-size: 1em;
        color: darkgrey;
        text-decoration: none;
        margin-left: 1em;
        font-weight: 500;

        &:hover{
            color: burlywood;
        }
    }
}
.footerDark {
    background-color: white;

    a {
        color: black;
        &:hover {
        color: rgb(0,0,0,0.8);
        cursor: pointer;
        }
    }
}