<div class="openPDF-container">
    <a target="_blank" href="/assets/documents/CV-LeonardoMichilena.pdf">Open as PDF</a>
</div>
<div class="curriculum">
    <h1>Curriculum</h1>
    <br>
    <h2>Personal Information</h2>
    <br>
    <p>Leonardo David Michilena Valencia</p>
    <p>Date of birth: 01-07-1992</p>
    <p>Nationality: Spanish</p>
    <p>Address: Waldstr. 55, 10551 Berlin</p>
    <br>
    <br>
    <br>
    <h2>Education</h2>
    <br>
    <p>10/2020 - 02/2021</p>
    <p>Online Website Development Course at TechLabs, Berlin</p>
    <br>
    <p>06/2020 - 12/2020</p>
    <p>Online Full-stack Web development course at Developer Akademie, Berlin</p>
    <br>
    <p>02/2017 - 01/2020</p>
    <p>Hotel Management Training at Sheraton Berlin Grand Hotel Esplanade, Berlin</p>
    <br>
    <p>05/2015 - 11/2016</p>
    <p>German language integration courses, Berlin</p>
    <br>
    <p>09/2013 - 10/2014</p>
    <p>Multiplatform Applications Development advanced Training at Ausias March, Barcelona</p>
    <br>
    <p>07/2012 - 06/2013</p>
    <p>Preparation course for access to advanced training studies, Barcelona/London</p>
    <br>
    <p>09/2009 - 06/2012</p>
    <p>General IT Medium Training at IES La Guineueta, Barcelona</p>
    <br>
    <p>09/2004 - 06/2007</p>
    <p>Secondary School at IES Lluis Domenech i Montaner, Barcelona</p>
    <br>
    <br>
    <br>
    <h2>Professional Experience</h2>
    <br>
    <p>02/2017 - heute</p>
    <p>Junior Accountant at Sheraton Berlin Grand Hotel Esplanade, Berlin</p>
    <br>
    <p>01/2015 - 04/2015</p>
    <p>Freelance costumer adquisitor for Services and Products at "Inmark Europa SA", Barcelona</p>
    <br>
    <p>01/2014 - 04/2015</p>
    <p>Bed & Breakfast Host for tourists, Barcelona</p>
    <br>
    <br>
    <br>
    <h2>Internship</h2>
    <br>
    <p>07/2012 - 08/2012</p>
    <p>IT - Trainee at 'Synergy Associates Ltd', London</p>
    <br>
    <p>05/2011 - 07/2011</p>
    <p>IT - Scholarship at "Integrate-IT GmbH", Berlin</p>
    <br>
    <p>11/2010 - 04/2011</p>
    <p>IT - Trainee at "Fundacio IMIM", Barcelona</p>
    <br>
    <p>05/2010 - 07/2010</p>
    <p>IT - Scholarship at "on line Datensysteme GmbH", Berlin</p>
    <br>
    <br>
    <br>
    <h2>Other Qualifications</h2>
    <br>
    <h3>Languages</h3>
    <p>Spanish (Native)</p>
    <p>Katalanish (fluent)</p>
    <p>English (c1)</p>
    <p>German (written - c1, spoken - b2)</p>
    <br>
    <h3>Computer Skills</h3>
    <p>Office (advanced)</p>
    <p>Adobe Premiere (beginner)</p>
    <p>Adobe Photoshop (intermediate)</p>
    <br>
    <h3>Programming skills</h3>
    <p>CSS, HTML (also SCSS, HTML5)</p>
    <p>Javasscript , SPA in Angular Framework.</p>
    <p>Tools: Visual Studio Code, Git (GitHub, Bitbucket), JNode, Firebase, Netlify, Filezilla.</p>
    <br>
    <br>
    <h2>Hobbies</h2>
    <p>Music and dancing, travelling and getting to know new people, places and cultures</p>
    <br>
</div>