.openPDF-container {
    a {
        text-decoration: none;
        color: black;
        background-color: white;
        border: 2px red solid;
        padding: 5px;
    }
    display: flex;
    position: fixed;
    width: 100%;
    margin: 1em;
    justify-content: center;
    align-items: center;
}

.curriculum {
    display: flex;
    flex-direction: column;
    padding: 3em;
    align-items: center;
    justify-content: center;
}