.openPDF-container {
    a {
        text-decoration: none;
        color: black;
        background-color: white;
        border: 2px red solid;
        padding: 5px;
       
    }
    a:hover {
        transform: translate(0,2px);
     }
    display: flex;
    position: fixed;
    width: 100%;
    margin: 3em auto;
    justify-content: center;
    align-items: center;
}

.curriculum {
    display: flex;
    flex-direction: column;
    align-items: center;
}