main {
    position: absolute;
    top: 0%;
    width: 100vw;
    height: 100vh;
}

.main-container-other {
    padding-top:15%;
    padding-left: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    overflow-y: scroll;
}