.main {
    position: relative;
    top:-15vh;
    width: 100vw;
    height: 85vh;
}

.main-container-other {
    position: relative;
    top: 0;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
    animation: boingAni 2s ease;
    padding-bottom: 5%;
}
