.main {
    position: relative;
    top:-20vh;
    width: 100vw;
    height: 80vh;
}

.main-container-other {
    position: relative;
    top: 0;
    width: 100vw;
    overflow: hidden;
    overflow-y: scroll;
}