
.portfolio-main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: black;
}

.portfolio-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    
    
}



@keyframes circleOutAni {
    0% {
        opacity: 0.2;
        border-radius: 100%;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        border-radius: 15%;
        transform: scale(1.1);

    }
}

@keyframes appsSlidingAni {
    0% {
        transform: translate(100vw);

    }
    100% {
        transform: translate(0);

    }
}
@keyframes downToUpAni {
    0% {
        transform: translate(0,7em);
    }
    50% {
        transform: translate(0,-2em);
    }
    100% {
        transform: translate(0,0em);
    }
}
@keyframes upToDownAni {
    0% {
        transform: translate(0,-4em);
    }
    50% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,-2em);
    }
}
