<div class="portfolio-main-container">
    <div class="portfolio-intro">
        <h2>Welcome to my app world!</h2>
        <div class="portfolio-intro-text">
            <p>I started coding in June 2020, this projects are part of the Developer Akademie Course, where I started learning programming.</p>
            <p>I recommend to check them in the given order, so you can see how my programming skills developed along the course.</p>    
       </div>
    </div>
    <div class="portfolio-list">
        <div class="project-container">
            <a target="_blank" href="http://www.leonardo-michilena.developerakademie.com/QuizApp">
                <img class="imgApp" src="./assets/img/quizApp.png">
            </a>
            <div class="app-title">
                <p>Quiz App</p>
            </div>
            <div class="app-description">
                <p>HTML first project</p>
            </div>
        </div>
        <div class="project-container">
            <a target="_blank" href="http://www.leonardo-michilena.developerakademie.com/tictactoe">
                <img class="imgApp" src="./assets/img/tictactoe.png">
            </a>
            <div class="app-title">
                <p>Tic Tac Toe</p>
            </div>
            <div class="app-description">
                <p>Popular game made with javascript</p>
            </div>

        </div>
        <div class="project-container">
            <a target="_blank" href="http://www.leonardo-michilena.developerakademie.com/task-management">
                <img class="imgApp" src="./assets/img/join.png">
            </a>
            <div class="app-title">
                <p>Join</p>
            </div>
            <div class="app-description">
                <p>Task Management App in Javascript</p>
            </div>

        </div>
        <div class="project-container">
            <a target="_blank" href="http://www.leonardo-michilena.developerakademie.com/el-pollo-loco">
                <img class="imgApp" src="./assets/img/elPolloLoco.png">
            </a>
            <div class="app-title">
                <p>El Pollo Loco</p>
            </div>
            <div class="app-description">
                <p>Javascript Jump and Run Game</p>
            </div>
        </div>
        <div class="project-container">
            <a href="#"><img class="imgApp" src="./assets/img/logo-white-simple.png">
            </a>
            <div class="app-title">
                <p>My personal website</p>
            </div>
            <div class="app-description">
                <p>An Angular based website</p>
            </div>
        </div>
        <div class="project-container">
            <a href="http://www.leonardo-michilena.developerakademie.com/ring-of-fire">
                <img class="imgApp" src="./assets/img/coming-soon.png">
            </a>
            <div class="app-title">
                <p>Ring of Fire</p>
            </div>
            <div class="app-description">
                <p>An Angular based cards game</p>
            </div>
        </div>
    </div>
</div>