
.portfolio-main-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    color: white;
}

.portfolio-intro {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1em;
    align-items: center;
    justify-content: center;

    h2 {
        border: none;
        margin: 0;
        font-size: 5vh;
    }
    .portfolio-intro-text {
        display: flex;
        flex-direction: column;
        overflow: auto;
        font-size: 1em;
        margin: 1em 1.5em;
        padding: 0.1em;
        justify-content: flex-start;
        align-items: center;
        p {
            padding: 0;
            margin: 0.2em;
            text-align: center; 
            font-size: 3vh;
        }
    }
}


.portfolio-list {
    display: flex;
    position: relative;
    width: 98%;
    height: 100%;
    margin: auto;
    overflow: scroll;
    padding-top: 4em;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10%;
}

.project-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    width: 100%;
    animation: appsSlidingAni 4s ease;
    &:last-child {
        border-right: 150px solid transparent;
    }
    .app-description {
        display: none;
    }
    .app-title{
        color: white;
        display: flex;
        position: relative;
        top: -7em;
    }
    &:active {
        .app-title {
            display: flex;
            position: relative;
            top: -14em;
        }
        .app-description {
            display: flex;
            position: relative;
            top: -7em !important;
        }
    }
    &:hover {
        .app-title {
            display: flex;
            position: relative;
            color: white;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            z-index: 0;
            animation: downToUpAni 2s ease; 
            top: -14em;
        }
        .app-description {
            display: flex;
            position: relative;
            color: white;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            top: 0;
            animation: upToDownAni 2s ease forwards; 
            z-index: 0;
        }
        .imgApp {
            z-index: 1;
            animation: circleOutAni 1s ease-out;
            opacity: 1;
            transform: scale(1.1);
            border-radius: 15%;
        }
    }    
}

.imgApp {
    width: 10em;
    height: 10em;
    border: 3px white solid;
    border-radius: 100%;
    opacity: 0.2;
    border: 2px green solid;
}

@keyframes circleOutAni {
    0% {
        opacity: 0.2;
        border-radius: 100%;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        border-radius: 15%;
        transform: scale(1.1);

    }
}

@keyframes appsSlidingAni {
    0% {
        transform: translate(100vw);

    }
    100% {
        transform: translate(0);

    }
}
@keyframes downToUpAni {
    0% {
        transform: translate(0,7em);
    }
    50% {
        transform: translate(0,-2em);
    }
    100% {
        transform: translate(0,0em);
    }
}
@keyframes upToDownAni {
    0% {
        transform: translate(0,-4em);
    }
    50% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,-2em);
    }
}
