<div class="portfolio-main-container">
    <div class="portfolio-intro">
        <h2>Welcome to my App world!</h2>
    </div>
    <div class="portfolio-list-container">
        <app-portfolio-card imgLink="/assets/img/quizApp.png" title="QuizApp" description="First HTML & CSS Quiz" appLink="http://www.leonardo-michilena.developerakademie.com/QuizApp"></app-portfolio-card>
        <app-portfolio-card imgLink="/assets/img/tictactoe.png" title="Tic Tac Toe" description="HTML & Javascript game" appLink="http://www.leonardo-michilena.developerakademie.com/tictactoe"></app-portfolio-card>
        <app-portfolio-card imgLink="/assets/img/join.png" title="Join" description="Task Management Javascript App" appLink="http://www.leonardo-michilena.developerakademie.com/task-management"></app-portfolio-card>
        <app-portfolio-card imgLink="/assets/img/elPolloLoco.png" title="El Pollo Loco" description="Jump 'n Run Javascript Game" appLink="http://www.leonardo-michilena.developerakademie.com/el-pollo-loco"></app-portfolio-card>
        <app-portfolio-card imgLink="/assets/img/logo-black-simple.png" title="Personal Website" description="Angular Based SAP" appLink="http://www.leonardomv.com"></app-portfolio-card>
        <app-portfolio-card imgLink="/assets/img/ringOfFire.png" title="Ring of Fire" description="Angular drinking card game" appLink="https://ringoffire-86076.web.app"></app-portfolio-card>
        <app-portfolio-card imgLink="/assets/img/coming-soon.png" title="Next App" description="Coming Soon" appLink="#"></app-portfolio-card>
    </div>
</div>