<div class="imprint">
    <h1>Imprint</h1>
    <br>
    <p>Leonardo David Michilena Valencia</p>
    <p>Waldstr. 55</p>
    <br>
    <p>Telephone: +4917624984473</p>
    <p>E-Mail: leonardomichilena@gmail.com</p>
</div>

<div class="copyright">
    <h2>Copyright use (Creative Common License):</h2>
    <a target="_blank" href="https://thenounproject.com/term/work/1819106/">Work by Yoyo from the Noun Project</a>
    <a target="_blank" href="/assets/documents/internship-icon.pdf">Internship Icon License</a>

</div>