<div class="personal-info-pdf">
    <a target="_blank" href="/assets/documents/CV-LeonardoMichilena.pdf"><h3>Open as PDF</h3></a>
</div>
<div class="personal-info-container">
    <div class="personal-info-text-container">
        <div class="personal-info-title">
            <h2>Leonardo Michilena Valencia</h2>
        </div>
        <div class="info-text-container">
            <div class="personal-info-text">
                <p>Date of birth: 01.07.1992 (28 years)</p>
                <p>Nationality: Spanish</p>
                <p>Address: Waldstr. 55, 10551 Berlin</p>
            </div>
        </div>
       
    </div>
    <div class="personal-info-photo">
        <img src="/assets/img/leo.jpg" alt="">
    </div>
</div>
