.cv-section {
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 3em;


    img {
        &:hover {
            transform: scale(1.2);
        }
        width: 14em;
        height: 14em;
        border-radius: 100%;
        animation: rightToLeftAni 2s ease; 
        cursor: pointer;       
    }

    h2 {
        font-size: 1.5em;
        animation: leftToRightAni 2s ease;        
    }
   
}

@keyframes rightToLeftAni {
    0% {
        transform: translate(50vw,0);
    }
    100% {
        transform: translate(0,0);
    }
}
@keyframes leftToRightAni {
    0% {
        transform: translate(-30em,0);
    }
    100% {
        transform: translate(0,0);
    }
}
@keyframes circleOutAni {
    0% {
        border: 100px white solid;
    }

    100% {
        border: 0px white solid;
    }
}
