.cv-section {
    display: flex;
    position: relative;
    flex-direction: column;
}

.card-section-container, .languages-section-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

.meter {
    display: flex;
    width: 200px;
    height: 30px;
    background-color: grey;

    span {
        display: inline;
        background-color: lightcoral;

    }
}
@media (max-width: 600px){
    .card-section-container {
    flex-direction: column;
    }

}

@keyframes rightToLeftAni {
    0% {
        transform: translate(50vw,0);
    }
    100% {
        transform: translate(0,0);
    }
}
@keyframes leftToRightAni {
    0% {
        transform: translate(-30em,0);
    }
    100% {
        transform: translate(0,0);
    }
}
