/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
//Body configurations
body {
    position: absolute;
    margin: 0;
    width: auto !important;
    min-width: 100px;
    height: auto !important;
    min-height: 550px;
    font-family: 'Sansita Swashed';
    overflow: hidden;
}

